@font-face {
    font-family: 'HelveticaNowText Bold';
    src: url('/font/HelveticaNowText-Bold.eot');
    src: url('/font/HelveticaNowText-Bold.eot?#iefix') format('embedded-opentype'),
         url('/font/HelveticaNowText-Bold.woff2') format('woff2'),
         url('/font/HelveticaNowText-Bold.woff') format('woff'),
         url('/font/HelveticaNowText-Bold.ttf')  format('truetype'),
         url('/font/HelveticaNowText-Bold.svg#HelveticaNowText Bold') format('svg');
}
  @font-face {
    font-family: 'nfl_cincinnati_bengalsregular';
    src: url('/font/nfl_cincinnati_bengals-webfont.woff2') format('woff2'),
         url('/font/nfl_cincinnati_bengals-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}