#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    &.arena {
        background: var(--sky-blue);
        img {
            cursor: pointer;
        }
    }
    &.team {
        overflow: visible;
        height: 200vw;
    }
}