.l-fixed {
    width: 100vw;
    height: 100vh;
    transition: 1.5s linear;
    position: fixed;
    &.transformation {
        opacity: 0;
    }
    &.arena {
        padding: 50px 0 0;
        display: flex;
        flex-direction: column;
    }
}
.l-wrapper {
    display: flex;
    &.team {
        width: 300vw;
        transition: 1s;
    }
}
.l-2-half-wrapper {
    display: flex;
    width: 100%;
    > div {
        width: 50%;
    }
    &.arena {
        position: absolute;
        bottom: 0;
        top: 0;
        display: flex;
    }
}
.w-img {
    img {
        width: 100%;
        height: auto;
    }
}
.w-team-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 100vh;
    height: 100vh;
    p {
        overflow: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12.5vw;
        font-weight: 800;
        line-height: 0.8;
        color: rgba($color: #ffffff, $alpha: 0.2);
        font-style: italic;
        letter-spacing: -5px;
        transition: 1s 1s;
        &.transformation {
            opacity: 0;
        }
    }
    img {
        width: 35%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s 0.75s;
        &.transformation {
            opacity: 0;
        }
    }
}
.w-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    z-index: 999;
    transition: 1s 1s;
    &.transformation {
        opacity: 0;
        transform: translate(-50%, calc(-50% - 20px));
    }
    img {
        width: 100%;
    }
    p {
        position: absolute;
        top: calc(100% + 20px);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        text-align: center;
        font-size: 16px;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        background: rgba($color: #fff, $alpha: 0.6);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        span:first-child {
            letter-spacing: 3px;
        }
    }
}
.w-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &.team {
        margin: auto 0;
        padding: 0 25px;
        h1 {
            margin: 0 0 30px;
            font-size: 64px;
            font-weight: 800;
            transition: 1s 1s;
            &.transformation {
                opacity: 0;
            }
        }
    }
    transition: 1s 0.5s;
    &.transformation {
        opacity: 0;
    }
}
.w-page-title {
    font-size: 64px;
    font-weight: 800;
    padding: 0 50px;
    color: #fff;
    transition: 0.7s;
    &.transformation {
        opacity: 0;
    }
}
.w-gallery {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 100px 0;
    transform-origin: left top;
    transform: rotate(-2.5deg) translateX(-150px) translateY(-16px);
    top: calc(50vh - 35vh);
    position: absolute;
    z-index: -1;
    .w-gallery--row:first-child {
        &.transformation {
            transform: translateX(20%);
        }
    }
    .w-gallery--row:last-child {
        transform: translateX(-5%);
        &.transformation {
            transform: translateX(-25%);
        }
    }
    img.arena {
        position: relative;
        width: 50vw;
        height: 40vh;
        object-fit: cover;
    }
}
.w-gallery--row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    transition: 1.5s 0.5s ease-in-out;
    &.transformation {
        opacity: 0;
    }
}
.w-lightbox {
    position: absolute;
    top: -1500px;
    left: -1500px;
    width: 3000px;
    height: 3000px;
    z-index: 99999;
    transform: translate(50vw, calc(50vh));
    background-color: var(--sky-blue);
    clip-path: circle(50% at 50% 50%);
    transition: 2s cubic-bezier(0.19, 0.8, 0.02, 0.99);
    &.transformation--click {
        clip-path: circle(0% at 50% 50%);
    }
    img.arena {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75vw;
        height: auto;
        max-height: 75vh;
        object-fit: cover;
        transition: 0.5s;
        &.transformation--click {
            opacity: 0;
            transform: translate(-50%, calc(-50% + 100px));
        }
    }
    .close {
        width: 4.5em;
        height: 4.5em;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 9999999;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(calc(50vw - 100% - 40px), calc(-50vh + 40px));
        transition: 1s 0.5s;
        &.transformation {
            opacity: 0;
        }
    }
}

.w-team-grid {
    display: grid;
    gap: 20px;
    grid-template: auto auto / 45% 45%;
    p {
        display: flex;
        flex-direction: column;
        gap: 2.5px;
    }
    span {
        opacity: 0.5;
    }
    transition: 1s 1.2s;
        &.transformation {
            opacity: 0;
        }
}
.w-team-color {
    margin: 30px 0 0;
    padding: 0 75px 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px 0px;
    h3 {
        width: 100%;
    }
    span {
        padding-bottom: 15%;
        border: 1px solid #fff;
        width: 30%;
        border-radius: 5px;
    }
    transition: 1s 1.5s;

        &.transformation {
            opacity: 0;
        }
}
.w-team-championships {
    margin: 30px 0 0;
}
.l-team-roster {
    padding: 50px 0 0;
}
